<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">  
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Ugandan Economic status demo</title>
</head>
<body>
  <header class="small">
    <div class="wrapper">
      <h1>Uganda's data</h1>
    </div>
  </header>
  <section>
    <div class="wrapper" id="display">
      <div id="map"></div>
      <div id="links"></div>
      <div id="chart_view"></div>
    </div>
  </section>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="script.js"></script>
</body>
</html>